
@{
    ViewBag.Title = "CrearCurso";
}

<h2>CrearCurso</h2>
@model ProyectoMonitores.Models.Curso

@using (Html.BeginForm("CrearCurso", "Curso", FormMethod.Post))
{
    <div class="form-group">

        <div>
            @Html.EditorFor(model => model.nombreCurso)
        </div>
        <div>
            @Html.EditorFor(model => model.horasEstudio)
            
        </div>
        <div>
            <input type="submit" value="Agregar Curso"/>
            <input type="reset" value="Borrar" />
        </div>
        <div></div>
    </div>


}

