
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@model IEnumerable<ProyectoMonitores.Models.Curso>
<table border="1">


    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.nombreCurso)</td>
            <td>@Html.DisplayFor(modelItem => item.horasEstudio)</td>
            <td>@Html.ActionLink("Borrar", "EliminarCurso", new { id = item.idCurso })</td>
        </tr>





    }


</table>


